 .item {
     color: #8A460F; /*цвет элемента*/
     margin-top: 15px;
 }

 .item img {
     width: 50px; /*ширина изображения*/
     height: 50px; /*высота изображения*/
     border-radius: 25px; /*радиус скругления углов изображения*/
 }