.dialogs {
    display: grid; /**/
    grid-template-columns: 2fr 10fr; /*делит поле на 2 части*/
}

.dialogsItems {
    padding: 15px; /*отступ со всех сторон*/

}

.dialogsItems .active {
    color: #F58109;
}

.dialog {

}

.messages {
    padding: 15px;

}

.message {

}