.dialogs {
    display: grid; /**/
    grid-template-columns: 2fr 10fr; /*делит поле на 2 части*/
padding: 15px;
}

.dialogsItems {
    text-decoration: none; /*убирает подчеркивания со ссылок*/

}

.dialogsItems .active {
    color: #F58109;
    text-decoration: none;
}

.dialog {
    text-decoration: none;

}

.messages {

}

.message {

}